# MongoDB connection string
DATABASE_URL="mongodb+srv://YOUR_USERNAME:YOUR_PASSWORD@cluster0.xxxxx.mongodb.net/layout_builder?retryWrites=true&w=majority"

# JWT secret for auth token signing
JWT_SECRET="your-super-secret-random-string"

NODE_ENV="production" | "development"
